Body {
	background-image: url("http://www.spyderonlines.com/images/wallpapers/cool-black-background/cool-black-background-5.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

h1 {
	color: #00CCCC;
	text-align: center;
}

p {
	color: #00CCCC;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

ul {
	color: white;
	border-style: solid;
	border-color: #00CCCC;
	border-width: 1px;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

li {
	display: inline-block;
	text-align: center;
	width: 150px;
	height:20px;
	margin: 10px;
}

li:hover {
	transform: scale(1.05);
}

#King_Charles {
	text-align: center;
}

#spagheddy {
	text-align: center;
}